<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-4">
            <h1>List of students</h1>
            <button type="button" (click)="toggleVisible()" class="btn btn-primary">Visible</button>

            <button type="button" (click)="showSuccess()" class="btn btn-primary">Show message</button>

            <button type="button" (click)="showSuccess2()" class="btn btn-primary">Show message2</button>

            <button type="button" (click)="inactiveStudents()" class="btn btn-primary">Inactive all</button>
            <div *ngFor="let item of list">
                <reclutamiento-student-card [student]="item" (onStudentSelected)="showStudenInformation($event)"></reclutamiento-student-card>

            </div>
        </div>
    </div>