<!------ Include the above in your HEAD tag ---------->


<!-- Navigation -->
<div class="fixed-top">
    <header class="topbar">
        <div class="container">
            <div class="row">
                <!-- social icon-->
                <div class="col-sm-12">
                    <ul class="social-network">
                        <li *ngIf="isLoggedIn">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{userName}} <fa-icon [icon]="fauser"></fa-icon></button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                                    <button type="button" ngbDropdownItem (click)="logout()">Logout <fa-icon [icon]="faLogout"></fa-icon></button>
                                    <a class="nav-link" *ngIf="permissionsService.hasRole('user')" [routerLink]="['/user/' + user.id]">{{ "HEADER.EDITCV" | translate }}  <fa-icon [icon]="faupload"></fa-icon></a>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
        <div class="container">
            <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> {{ "HEADER.TITLE" | translate }}</a>
            <img src="assets/images/NASA_logo.svg" alt="RH" width="60px" height="60px" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="isLoggedIn">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/oportunities/open']">{{ "HEADER.OPEN_OPPS" | translate }}</a>
                    </li>
                    <li class="nav-item" *ngIf="permissionsService.hasRole('Admin')">
                        <a class="nav-link" [routerLink]="['/oportunities/closed']">{{ "HEADER.CLOSED_OPPS" | translate }}</a>
                    </li>

                </ul>

                <div ngbDropdown class="d-inline-block" *ngIf="permissionsService.hasRole('Admin')">
                    <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{ "HEADER.CATALOGS" | translate }}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button [routerLink]="['/departments']" ngbDropdownItem>{{ "HEADER.DEPARTMENTS" | translate }}</button>
                        <button [routerLink]="['/jobs']" ngbDropdownItem>{{ "HEADER.JOBS" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>