<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Department</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (submit)="createDepto()">
        <div class="form-group">
            <label for="name">Department Name</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name" [ngClass]="{ 'is-invalid': !isFieldValid('name')}" />
            <p class="error" *ngIf="!isFieldValid('name')">
                This Field is required
            </p>
        </div>
        <div class="footer-actions text-right">
            <button type="button" class="btn btn-outline-dark mr-3" (click)="closeModal()">save</button>
            <button type="submit" class="btn btn-primary">Create Course</button>
        </div>
    </form>
</div>