<div class="max-content-width white-bg py-5 mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1>{{ "JOB.TITTLE_LIST" | translate }}</h1>
            </div>
            <div class="col-12 col-sm-6 text-right">
                <button type="button" class="btn btn-primary" (click)="createJob()">{{ "GENERAL.CREATE_BUTTON" | translate }}</button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ "JOB.ID_LABEL" | translate }}</th>
                                <th>{{ "JOB.NAME_LABEL" | translate }}</th>
                                <th>{{ "JOB.DEPARTMENT_LABEL" | translate }}</th>
                                <th>{{ "GENERAL.ACTIONS_LABEL" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of list">
                                <td>{{ job.id }}</td>
                                <td>{{ job.name }}</td>
                                <td>
                                    <span>
                                        {{ job.department.name}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" (click)="editJob(job)">{{ "GENERAL.EDIT_BUTTON" | translate }}</button>
                                    <button type="button" class="btn btn-link" [swal]="{
                    title: 'Are you sure you want to delete ',
                    showCancelButton: true
                  }" (confirm)="deleteJob(job)">
                  {{ "GENERAL.DELETE_BUTTON" | translate }}
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div>