<div class="container-fluid">
    <div class="row justify-content-center"></div>

    <h1>{{"OPPORTUNITY.TITLE_OPEN" | translate }}</h1>





    <div class="row justify-content-end">
        <br>

        <swal #deleteSwal title="Confirma cerrar todas las oportunidades?" text="" icon="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="inactiveOportunity()"></swal>
        <button class="btn btn-info mr-1" [swal]="deleteSwal">{{"GENERAL.DESACTIVEALL_BUTTON" | translate }}<fa-icon [icon]="famulti"></fa-icon></button>

        <button [routerLink]="['/oportunities/new']" type="button" (click)="inactiveOportunity()" class="btn btn-info">{{"GENERAL.NEWOPP_BUTTON" | translate }} <fa-icon [icon]="fanew"></fa-icon></button>


    </div>
    <br>
    <div class="row justify-content-center">
        <div *ngFor="let item of list">

            <reclutamiento-oportunity-card [oportunity]="item" (onOportunitySelected)="showOportunityInformation($event)"></reclutamiento-oportunity-card>


        </div>
    </div>
</div>