<div class="container-fluid">
    <div class="row justify-content-center"></div>

    <h1>{{"OPPORTUNITY.TITLE_OPEN" | translate }}</h1>





    <div class="row justify-content-end" *ngIf="permissionsService.hasRole('Admin')">
        <br>




        <a [routerLink]="['/oportunities/details/new']" class="btn btn-info float-right mr-1">{{"GENERAL.NEWOPP_BUTTON" | translate }} <fa-icon [icon]="fanew"></fa-icon></a>

    </div>
    <br>
    <div class="row justify-content-center">
        <div *ngFor="let item of list">

            <reclutamiento-oportunity-card [oportunity]="item" (onOportunitySelected)="changeStatusOPP($event)" (onOportunityApply)="applyOportunity($event)"></reclutamiento-oportunity-card>


        </div>
    </div>
</div>