<div class="max-content-width white-bg py-5 mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1>{{ "DEPARTMENT.TITTLE_LIST" | translate }}</h1>
            </div>
            <div class="col-12 col-sm-6 text-right">
                <button type="button" class="btn btn-primary" (click)="createDepto()">{{ "GENERAL.CREATE_BUTTON" | translate }}</button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ "DEPARTMENT.ID_LABEL" | translate }}</th>
                                <th>{{ "DEPARTMENT.NAME_LABEL" | translate }}</th>
                                <th>{{ "DEPARTMENT.JOB_LABEL" | translate }}</th>
                                <th>{{ "GENERAL.ACTIONS_LABEL" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let department of list">
                                <td>{{ department.id }}</td>
                                <td>{{ department.name }}</td>
                                <td>
                                    <span *ngFor="
                                      let job of department.jobs;
                                      index as index;
                                      first as first;
                                      last as last
                                    ">
                                    {{ job.name + " " + job.id
                                    }}<span *ngIf="!last">,</span>
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" (click)="editDepto(department)">{{ "GENERAL.EDIT_BUTTON" | translate }}</button>
                                    <button type="button" class="btn btn-link" [swal]="{
                    title: 'Are you sure you want to delete ',
                    showCancelButton: true
                  }" (confirm)="deleteDepto(department)">
                  {{ "GENERAL.DELETE_BUTTON" | translate }}
                </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div>