<ng-container *ngIf="oportunity">
    <div class="col-auto mb-3">
        <div class="card text-white border-info bg-light mb-3 rounded" style="width: 20rem; height: 32rem;">
            <div class="card-body text-dark">

                <div class="card-header bg-secondary text-light" style="height: 5rem;">
                    <h6 class="card-title">
                        {{ oportunity.title.substring(0,70) + ( (oportunity.title.length > 70) ? '...' : '') }}</h6>
                </div>
                <br>
                <h6 class="card-subtitle">{{"OPPORTUNITY.CODE_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{ oportunity.id }}
                </p>
                <h6 class="card-subtitle">{{"OPPORTUNITY.CREATIONDATEO_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{ oportunity.creationDate }}
                </p>
                <h6 class="card-subtitle">{{"OPPORTUNITY.DUEDATE_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{ oportunity.dueDate }}
                </p>
                <h6 class="card-subtitle">{{"OPPORTUNITY.JOB_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{oportunity.job.name}}
                </p>
                <h6 class="card-subtitle">{{"OPPORTUNITY.DEPARTMENT_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{oportunity.job?.department?.name}}
                </p>
                <h6 class="card-subtitle">{{"OPPORTUNITY.STATUS_LABEL" | translate }}:</h6>
                <p class="card-text">
                    {{oportunity.status}}
                </p>
            </div>
            <div class="card-footer bg-transparent border-info" *ngIf="permissionsService.hasRole('Admin')">
                <swal #changeStatusSwal title="Confirma cambiar el estado a la oportunidad?" text="" icon="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="oportunitytSelect(oportunity)"></swal>
                <button type="button" class="btn btn-info float-right mr-1" [swal]="changeStatusSwal">{{"GENERAL.DESACTIVE_BUTTON" | translate }}<fa-icon [icon]="faDesactive"></fa-icon></button>

                <a [routerLink]="['/oportunities/details/'+oportunity.id]" class="btn btn-info float-right mr-1">{{"GENERAL.EDIT_BUTTON" | translate }} <fa-icon [icon]="faPen"></fa-icon></a>
            </div>
            <div class="card-footer bg-transparent border-info" *ngIf="permissionsService.hasRole('user')">
                <swal #applyOppSwal title="Desea aplicar a la oportunidad: '{{oportunity.title}}'?" text="" icon="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="oportunityApply(oportunity)"></swal>

                <button type="button" class="btn btn-info float-right mr-1" [swal]="applyOppSwal">{{"GENERAL.ENROLL_BUTTON" | translate }}<fa-icon [icon]="faCheck"></fa-icon></button>

                <a [routerLink]="['/oportunities/details/'+oportunity.id]" class="btn btn-info float-right mr-1">{{"GENERAL.MORE_BUTTON" | translate }} <fa-icon [icon]="faDoorOpen"></fa-icon></a>
            </div>
        </div>
    </div>
</ng-container>