<ng-container *ngIf="oportunity">
    <div class="col-auto mb-3">
        <div class="card text-white border-info bg-light mb-3" style="width: 18rem; height: 30rem;">
            <div class="card-body text-dark">

                <div class="card-header bg-secondary text-light" style="height: 5rem;">
                    <h6 class="card-title">
                        {{ oportunity.title.substring(0,70) + ( (oportunity.title.length > 70) ? '...' : '') }}</h6>
                </div>
                <br>
                <h6 class="card-subtitle">Code:</h6>
                <p class="card-text">
                    {{ oportunity.id }}
                </p>
                <h6 class="card-subtitle">Creation Date:</h6>
                <p class="card-text">
                    {{ oportunity.creationDate }}
                </p>
                <h6 class="card-subtitle">Due Date:</h6>
                <p class="card-text">
                    {{ oportunity.dueDate }}
                </p>
                <h6 class="card-subtitle">Job Name:</h6>
                <p class="card-text">
                    {{oportunity.job.name}}
                </p>
                <h6 class="card-subtitle">Department:</h6>
                <p class="card-text">
                    {{oportunity.job?.department?.name}}
                </p>
                <h6 class="card-subtitle">Status:</h6>
                <p class="card-text">
                    {{oportunity.status}}
                </p>
            </div>
            <div class="card-footer bg-transparent border-info">
                <a href="#" class="btn btn-info float-right mr-1">Desactive <fa-icon [icon]="faDesactive"></fa-icon></a>
                <a [routerLink]="[oportunity.id]" class="btn btn-info float-right mr-1">Edit <fa-icon [icon]="faPen"></fa-icon></a>

            </div>
        </div>
    </div>
</ng-container>