test
<ng-container>

    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="card w-50">
                <div class="card-body text-dark">
                    <form [formGroup]="form" (submit)="save()">
                        <div class="form-group">
                            <div class="card-header bg-secondary text-light">
                                <h6 class="card-title">{{ "OPPORTUNITY.EDITOPP_TITTLE" | translate }}</h6>
                            </div>
                            <br>
                            <h6 class="card-subtitle">{{ "OPPORTUNITY.TITTLE_LABEL" | translate }}:</h6>
                            <p class="card-text">
                                <input type="text" class="form-control" name="title" id="title" formControlName="title" />
                            </p>
                            <h6 class="card-subtitle">{{ "OPPORTUNITY.CREATIONDATEO_LABEL" | translate }}:</h6>
                            <p class="card-text">
                                <input type="text" class="form-control" name="creationDate" id="creationDate" formControlName="creationDate" />
                            </p>
                            <h6 class="card-subtitle">{{ "OPPORTUNITY.DUEDATE_LABEL" | translate }}:</h6>
                            <p class="card-text">
                                <input type="text" class="form-control" name="dueDate" id="dueDate" formControlName="dueDate" />
                            </p>


                            <h6 class="card-subtitle">{{ "OPPORTUNITY.SKILLS_LABEL" | translate }}:</h6>
                            <p class="card-text">
                                <textarea class="form-control" name="requiredSkills" id="requiredSkills" formControlName="requiredSkills"></textarea>
                            </p>
                            <h6 class="card-subtitle">{{ "OPPORTUNITY.OTHERSKILLS_LABEL" | translate }}:</h6>
                            <p class="card-text">
                                <textarea class="form-control" name="consideredSkills" id="consideredSkills" formControlName="consideredSkills"></textarea>
                            </p>

                            <h6 class="card-subtitle">{{"OPPORTUNITY.JOB_LABEL" | translate }}:</h6>
                            <p class="card-text">

                                <select class="form-control" name="job" id="job" formControlName="job">
                                    <option value="" disabled selected>select an option</option>
                                    <option *ngFor="let job of listJobs" [value]="job.id">{{job.name}}</option>
                                  </select>

                            </p>



                            <button type="button" [routerLink]="['/oportunities']" class="btn btn-primary float-right mr-1"><fa-icon [icon]="faarrow"></fa-icon> {{ "GENERAL.BACK_BUTTON" | translate }}</button>
                            <button type="submit" class="btn btn-primary">{{ "GENERAL.SAVE_BUTTON" | translate }}</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</ng-container>