/*************************COLORS**************************/
$white: #fff;
$black: #000;

$text-color: #222b45;
$hover-color: #36f;

$bg-color: #edf1f7;




/*************************   FONTS **************************/
$font-roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
